//Types of Food

<products>
  <produce type="food_products">
    <items details="vegetable">
      <product
        type="vegetable"
        name="pumpkin"
        price="10$"
        weight="1kg"
        quality="not to bad"
      ></product>
      <product
        type="vegetable"
        name="Cabbage Leaf"
        price="12$"
        weight="500gr"
        quality="normal"
      ></product>
      <product
        type="vegetable"
        name="pumpkin Leaf"
        price="3$"
        weight="1kg"
        quality="normal"
        delivery="none"
      ></product>
      <product
        type="vegetable"
        name="Leaf"
        delivery="none"
        price="22$"
        weight="100gr"
        quality="new"
      ></product>
    </items>
    <items details="fruit">
      <product
        type="fruit"
        name="limon"
        price="2$"
        quality="new"
        delivery="none"
      ></product>
      <product
        type="fruit"
        name="strawberry"
        quality="new"
        price="14$"
        delivery="none"
      ></product>
    </items>
    <items details="cereal">
      <product
        type="cereal"
        name="wheat"
        price="190$"
        weight="100kg"
        delivery="yes"
        quality="normal"
      ></product>
      <product
        type="cereal"
        name="rice"
        price="20$"
        delivery="yes"
        quality="new"
      ></product>
    </items>
    <items details="tuber">
      <product
        type="tuber"
        name="carrot"
        price="30$"
        quality="new"
        delivery="none"
      ></product>
      <product
        type="tuber"
        name="radish"
        price="10$"
        quality="new"
        delivery="none"
      ></product>
      <product
        type="tuber"
        name="pototo"
        price="10$"
        quality="new"
        delivery="none"
      ></product>
    </items>
  </produce>
  <produce type="electronic">
    <items details="washing">
      <product
        type="washing"
        name="washing machine"
        quality="new"
        delivery="yes"
        price="100$"
      ></product>
      <product
        type="washing"
        name="drying machine"
        quality="new"
        delivery="yes"
        price="80$"
      ></product>
    </items>
    <items details="spare_parts">
      <product
        type="spare_parts"
        name="Iron"
        price="30$"
        delivery="yes"
        quality="new"
      ></product>
      <product
        type="car_parts"
        name="baloon"
        price="10$"
        delivery="yes"
        quality="new"
      ></product>
    </items>
  </produce>
</products>